<!doctype html>
<html ng-app>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
	</head>
	<body>


	<div ng-controller="main_controller">
      <form ng-submit='login()'>
          <p>Who are you? </p>
          <input type="text" ng-model="usernameText">
          <input type='submit' value='login'>
      </form>


      <span ng-repeat="identity in identities">
        <button type="button" ng-click="showChatIdentitiy({{identity.Servername}})">{{identity.Servername}}</button>
      </span>

      <div ng-repeat="identity in identities" class="irck-chat-identity" id="irck-chat-identity-{{identity.Servername}}" style="display:none;">

          <span ng-repeat="stream in identity.streams"> 
            <button type="button">{{stream.name}}</button>
          </span>


      </div>


	</body>
</html>
