<!doctype html>
<html ng-app>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
	</head>
	<body>


	<div ng-controller="main_controller">
      <form ng-submit='login()'>
          <p>Who are you? </p>
          <input type="text" ng-model="usernameText">
          <input type='submit' value='Login'>
      </form>


      <span ng-repeat="identity in identities">
        <button type="button" onclick="showChatIdentity({{identity.IdentityIdx}})">{{identity.Servername}} ({{identity.IdentityIdx}})</button>
      </span>

      <div ng-repeat="identity in identities" class="irck-chat-identity" id="irck-chat-identity-{{identity.IdentityIdx}}" style="display:none;">

          <span ng-repeat="(streamname, stream) in identity.streams"> 
            <button type="button" onclick="showChatStream({{identity.IdentityIdx}}, {{stream.streamid}})">{{streamname}}</button>
          </span>

          <div ng-repeat="(streamname, stream) in identity.streams" class="irck-chat-stream" id="irck-chat-stream-{{identity.IdentityIdx}}-{{stream.streamid}}" style="display:none;">
            <div ng-repeat="msg in stream.messages">
              <b> {{msg.Originator}} : </b>&nbsp; {{msg.Message}}
            </div>

            <form ng-submit='msg(identity, streamname)'>
              <input type='text' ng-model='identity.textinput' style='width:75%'> <input type='submit' value='Send'>
            </form>


          </div>

      </div>


	</body>
</html>
