html,body {
	height:90%;
}
#irck-whole-page{
	min-height:100%;
	position:relative;
}

.irck-ux-toolbar {
	position: fixed;
	height: 30px;
	left: 0px;
	width: 100%;
	padding-left: 8px;
	background-color: #2CA8D1;
}


.irck-id-list {
	top: 0px;
}
.irck-chan-list {
	top: 30px;
}

.irck-channelbox-messages {
	background-color:white;

}

.irck-channelbox-messages-padding {
	height:40px;
}

.irck-channelbox-input {
	bottom:0px;
}
