html,body {
	background-color: #efeffe;
	height:90%;
}
#irck-whole-page{
	min-height:100%;
	position:relative;
}

.irck-channelbox {
	position:absolute;
	height:80%;
	width:100%;
	border: 1px solid black;
}

.irck-channelbox-messages {
	position:absolute;
	width:100%;
	height:100%;
	margin-bottom:30px;
	overflow-y:scroll;
	scrollbars:left;
}

.irck-channelbox-messages-padding {
	height:40px;
}

.irck-channelbox-input {
	position:absolute;
	bottom:0px;
	height:30px;
	border-top: 1px solid orange;
	width:100%;
}
